name: duckling-fork-chinese

on: 
  push:
    paths:
    - 'duckling-fork-chinese/**'
  pull_request:
    paths:
    - 'duckling-fork-chinese/**'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Run tests
      run: |
        cd duckling-fork-chinese
        sbt clean coverage test
        sbt coverageAggregate
        bash <(curl -s https://codecov.io/bash) -r du00cs/MiNLP -t 'd2de025e-e5b7-4115-a98e-07e6fc3d7001'
